<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Products Manager v1.0</h3>
<p>
    <a th:href="@{/product/create}">
        <button>Add new product</button>
    </a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<input type="text" id="search" placeholder="search here">
<table id = "products">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Inventory</th>
        <th>Category</th>
        <th style="text-align: center">Edit</th>
        <th style="text-align: center">Delete</th>
        <th style="text-align: center">View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td th:text="${row.getInventory()}"></td>
        <td th:text="${row.getCategoryName()}"></td>
        <td style="text-align: center"><a th:href="@{/product/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td style="text-align: center"><a th:href="@{/product/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td style="text-align: center"><a th:href="@{/product/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="layout :: footer"></footer>
</body>
</html>